        .psConsole-section{
        display: flex;
        justify-content: flex-start;
        padding: 50px;
    }
    
    .psConsole-container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 10px;
    }
    
    .psConsole-items{
        background-color: #a5a5a5;
    }
    