.game-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;     
}


.game-link{
    text-decoration: none ;
}


.game-price{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.gameGIF{
    position: absolute; /* Position the overlay absolutely */
    top: 0; /* Align it to the top of the item */
    left: 0; /* Align it to the left of the item */
    right: 0; /* Stretch to the right */
    bottom: 0; /* Stretch to the bottom */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white; /* Text color */
    display: flex; /* Use flexbox to center the content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    opacity: 0; /* Start with invisible overlay */
    transition: opacity 0.3s; /* Smooth transition */
}

.new-items:hover .gameGIF{
    opacity: 1;
}

.new-items{
    background-color: #a5a5a5;
    position: relative;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}