.home-header{
    color: #000000;
}

.new-section{
    display: flex;
    justify-content: flex-start;
    padding: 50px;
}

.new-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    padding-left: 100px;
}

.new-items{
    background-color: #a5a5a5;
    
}
